.mycard{
    height: 275px;
    width: 100px;
}
.my-img{
    height: 200px;
    width:100px;
}
.my-pic{
    height: 600px;
    width: 600px;
    border-radius: 30px;
}
.button{
    text-align: left;
}